body {
    font-family:  sans-serif;
    margin: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: rgb(44, 69, 94);
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
